<div [class]="'overlay mat-app-background' + (show ? ' show' : ' hide')">
    <div class="container">
        <div *ngIf="galleryRef" class="top">
            <span>{{ galleryRef.currentIndex }} / {{ overlayGalleryService?.images?.length || '?' }}</span>
            <a (click)="deactivate()">CLOSE</a>
        </div>
    
        <div class="gallery-container">
            <moo-gallery *ngIf="overlayGalleryService.images" #gallery [images]="overlayGalleryService.images" [currentIndex]="overlayGalleryService.initalIndex"></moo-gallery>
        </div>
        
    </div>

    <div class="left-nav nav">
        <a (click)="galleryRef.decreaseIndex()">Back</a>
    </div>

    <div class="right-nav nav">
        <a (click)="galleryRef.increaseIndex()">Forward</a>
    </div>
</div>
