@import 'styles/variables.scss';

.margin-bottom {
    margin-bottom: $spacing;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 56px;
    min-width: 56px;
    height: 56px;
    min-height: 56px;
    
    border-radius: 50%;

    margin-left: $spacing/4;

    cursor: pointer;

    svg {
        fill: currentColor;
    }
}

.icon-container.drag {
    margin-left: 0;
    margin-right: $spacing/4;

    cursor: grab;

    svg {
        fill: currentColor;
    }
}

.thumbnail {
    position: relative;
    top: 0;
    left: 0;

    min-height: 56px;
    min-width: 56px;

    height: 56px;
    width: 56px;

    margin-right: $spacing/4;

    cursor: zoom-in;

    border-radius: 2px;
}

.files {
    display: flex;
    flex-direction: column;

    min-height: 56px;

    margin-top: (56px/2);
}

.label {
    margin-top: (56px/2);
    font-size: 1.2em;
}

.file {
    min-height: 56px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    // border-bottom: solid 1px #121212;

    .file-text {
        flex-grow: 2;
        box-sizing: border-box;
        overflow-wrap: anywhere;
    }
}
.drop-placeholder,.file {
    padding: $spacing/8 0;
}

button {
    display: flex;
    align-items: center;
    
    svg {
        margin-right: $spacing/4;
    }

    span {
        margin-left: 2*$spacing/4 + 24px;
    }

    svg + span {
        margin-left: $spacing/4;
    }
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 56px;
    
    box-sizing: border-box;
    border: 1px dotted black;

    font-style: italic;    
}

.cdk-drop-list-dragging {
    .empty {
        display: none;
    }
}
