<div class="label" *ngIf="label">
    {{ label }}
</div>

<div cdkDropList class="files" [cdkDropListData]="files" 
    (cdkDropListDropped)="dropFile($event)">
    <div *ngFor="let file of files; let i = index" class="file mat-app-background" cdkDrag>
        <div class="drop-placeholder" *cdkDragPlaceholder></div>

        <div class="icon-container drag" matRipple [matRippleUnbounded]="false" cdkDragHandle>
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
                <g><rect fill="none" height="24" width="24"/></g><g><g><g><path d="M20,9H4v2h16V9z M4,15h16v-2H4V15z"/></g></g></g>
            </svg>
        </div>

        <div matRipple [matRippleUnbounded]="false" (click)="activateOverlay(i)" class="thumbnail responsive-width" mooKeepRatio [ratioHeight]="1" [ratioWidth]="1" [basedOnWidth]="true">
            <img class="cover-fit" [src]="file.url">
        </div>

        <div class="file-text">{{ file.filename }}</div>

        <div class="icon-container" matRipple [matRippleUnbounded]="false" [matMenuTriggerFor]="menu" aria-label="image options">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
            </svg>
        </div>

        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let section of sections">
                <button *ngIf="section.slug !== sectionSlug" mat-menu-item (click)="sectionSelected.emit({slug: section.slug, file: file, index: i})">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"/><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                    </svg>
    
                    <span>{{ section.text }}</span>
                </button>
            </ng-container>
            
            <button *ngIf="'no-section__SPECIAL' !== sectionSlug" mat-menu-item (click)="sectionSelected.emit({slug: 'no-section__SPECIAL', file: file, index: i})">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M17 7h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.43-.98 2.63-2.31 2.98l1.46 1.46C20.88 15.61 22 13.95 22 12c0-2.76-2.24-5-5-5zm-1 4h-2.19l2 2H16zM2 4.27l3.11 3.11C3.29 8.12 2 9.91 2 12c0 2.76 2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1 0-1.59 1.21-2.9 2.76-3.07L8.73 11H8v2h2.73L13 15.27V17h1.73l4.01 4L20 19.74 3.27 3 2 4.27z"/>
                    <path d="M0 24V0" fill="none"/>
                </svg>

                <span>None</span>
            </button>

            <button *ngIf="'delete__SPECIAL' !== sectionSlug" mat-menu-item (click)="sectionSelected.emit({slug: 'delete__SPECIAL', file: file, index: i})">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                </svg>

                <span>Delete</span>
            </button>
        </mat-menu>
    </div>

    <div class="empty" *ngIf="!files || !files.length">
        (empty)
    </div>
</div>
