@import 'styles/variables.scss';

:host {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.label {
    margin-top: (56px/2);
    font-size: 1.2em;
}

.header-container {
    display: flex;
    cursor: pointer;

    padding: $spacing/4 0;
    margin-bottom: $spacing/4;

    .expand-icon {
        position: relative;
        top: 0;
        left: 0;

        height: 33px;
        width: 33px;
        margin-right: $spacing/4;

        svg {
            height: 100%;
            width: 100%;

            transition: all 400ms linear;
            // transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 400ms cubic-bezier(0.61, 0.01, 0.28, 1.26);
        }
        svg.active {
            transform: rotate(90deg);
        }

        .svg-overlap {
            position: absolute;
            top: 0;
            left: 0;

            transition: all 400ms linear;
            transition: all 400ms cubic-bezier(0.61, 0.01, 0.28, 1.26);
        }
        .svg-overlap.active {
            transform: rotate(180deg);
        }
    }
}

.header {
    font-size: 24px;
    line-height: 1.4;
}

.margin-bottom {
    margin-bottom: $spacing;
}

.margin-top {
    margin-top: $spacing;
}

.new-section-container {
    display: flex;
    justify-content: center;
    align-items: center;

    moo-input {
        flex-grow: 2;
        margin-right: $spacing/4;
    }
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 56px;
    min-width: 56px;
    height: 56px;
    min-height: 56px;
    
    border-radius: 50%;

    margin-left: $spacing/4;

    cursor: pointer;

    svg {
        fill: currentColor;
    }
}

.icon-container.drag {
    margin-left: 0;
    margin-right: $spacing/4;

    cursor: grab;

    svg {
        fill: currentColor;
    }
}

.chips-container {
    margin-bottom: $spacing/4;
}

.sections {
    display: flex;
    flex-direction: column;

    min-height: 56px;
}

.section {
    min-height: 56px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: solid 1px #121212;
    box-sizing: border-box;

    .section-text {
        flex-grow: 2;
        box-sizing: border-box;
    }
}

.floating-fav-button {
    position: fixed;
    bottom: 56px;
    right: 56px;

    animation-name: fade-in-from-top;
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-duration: 400ms;
}

mat-chip {
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: $spacing/2;
    
    button {
        margin-left: $spacing/2;
    }
}

@mixin mobile-padding($padding) {
    :host {
        padding-left: $padding;
        padding-right: $padding;
    }
}

@media only screen and (max-width: $desktop_width) {
    // pass
}

@media only screen and (max-width: $tablet_width) and (orientation: portrait) {
    // pass
}

@media only screen and (max-width: $mobile_width) and (orientation: portrait) {
    @include mobile-padding(2.5vw);

    .floating-fav-button {
        position: fixed;
        bottom: $spacing/2;
        right: $spacing/2;
    }
}

@media only screen and (max-width: $landscape_width) and (max-height: $tablet_height) and (orientation: landscape) {
    // pass
}

@media only screen and (max-width: $landscape_width) and (max-height: $mobile_height) and (orientation: landscape) {
    @include mobile-padding(2.5vw);

    .floating-fav-button {
        position: fixed;
        bottom: $spacing/2;
        right: $spacing/2;
    }
}
