<ng-container *ngIf="initalized">
    <div class="panel margin-bottom">
        <div class="header-container" (click)="expandUpload = !expandUpload" matRipple [matRippleUnbounded]="false">
            <div class="expand-icon">
                <svg [class]="!expandUpload ? 'active' : ''" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"/>
                </svg>
                <svg [class]="'svg-overlap' + (!expandUpload ? ' active' : '')" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"/>
                </svg>
            </div>
            
            <div class="header">
                Upload
            </div>
        </div>

        <moo-expandable [expanded]="expandUpload">
            <moo-upload [files]="files" [sections]="sections" (fileUploaded)="handleFileUploaded($event)"></moo-upload>
        </moo-expandable>
    </div>

    <div class="panel margin-bottom">
        <div class="header-container" (click)="expandSections = !expandSections" matRipple [matRippleUnbounded]="false">
            <div class="expand-icon">
                <svg [class]="!expandSections ? 'active' : ''" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"/>
                </svg>
                <svg [class]="'svg-overlap' + (!expandSections ? ' active' : '')" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"/>
                </svg>
            </div>
            
            <div class="header">
                Sections
            </div>
        </div>

        <moo-expandable [expanded]="expandSections">
            <div class="new-section-container">
                <moo-input label="New Section" [value]="newSectionText" [error]="newSectionError" 
                    (valueChanged)="updateNewSectionText($event)"
                    (enterPressed)="addSection()">
                </moo-input>

                <button mat-raised-button color="primary" (click)="addSection()" [disabled]="loading">Add</button>
            </div>

            <div cdkDropList class="sections" [cdkDropListData]="sections"
                (cdkDropListDropped)="dropSection($event)">

                <ng-container *ngFor="let section of sections; let i = index">
                    <div class="section mat-app-background" cdkDrag>
                        <div class="drop-placeholder" *cdkDragPlaceholder></div>
        
                        <div class="icon-container drag" matRipple [matRippleUnbounded]="false" cdkDragHandle>
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
                                <g><rect fill="none" height="24" width="24"/></g><g><g><g><path d="M20,9H4v2h16V9z M4,15h16v-2H4V15z"/></g></g></g>
                            </svg>
                        </div>
        
                        <div class="section-text">{{ section.text }}</div>
        
                        <div class="icon-container" matRipple [matRippleUnbounded]="false" (click)="deleteSection(section, i)">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                <path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                            </svg>
                        </div>
                    </div>

                    <mat-divider></mat-divider>
                </ng-container>
                
            </div>
        </moo-expandable>
    </div>

    <div class="panel margin-bottom" cdkDropListGroup>
        <div class="header-container" (click)="expandFiles = !expandFiles" matRipple [matRippleUnbounded]="false">
            <div class="expand-icon">
                <svg [class]="!expandFiles ? 'active' : ''" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"/>
                </svg>
                <svg [class]="'svg-overlap' + (!expandFiles ? ' active' : '')" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"/>
                </svg>
            </div>
            
            <div class="header">
                Images
            </div>
        </div>

        <moo-expandable [expanded]="expandFiles">
            <div class="chips-container">
                <mat-chip-list aria-label="Select filter" [multiple]="true">
                    <mat-chip *ngFor="let section of sections" 
                        color="primary" 
                        (click)="toggleSectionFilter(section.slug)" 
                        [selected]="sectionFiltersMap[section.slug]">
                        {{ section.text }}
                    </mat-chip>
                    <mat-chip
                        color="accent" 
                        (click)="toggleSectionFilter('no-section__SPECIAL')" 
                        [selected]="sectionFiltersMap['no-section__SPECIAL']">
                        None
                    </mat-chip>
                    <mat-chip *ngIf="filesMap && filesMap['delete__SPECIAL'] && filesMap['delete__SPECIAL'].length"
                        color="warn" 
                        (click)="toggleSectionFilter('delete__SPECIAL')" 
                        [selected]="sectionFiltersMap['delete__SPECIAL']">
                        Delete
                    </mat-chip>
                </mat-chip-list>
            </div>

            <div class="label" *ngIf="!sectionFilterSelected">
                <ng-container *ngIf="!sections || !sections.length">
                    Create a section above then assign images to each section.
                </ng-container>

                <ng-container *ngIf="sections && sections.length">
                    Select section filter(s) above.
                </ng-container>
            </div>
            
            <ng-container *ngIf="filesMap">
                <ng-container *ngFor="let section of sections">
                    <ng-container *ngIf="sectionFiltersMap[section.slug]">
                        <moo-management-files [sectionSlug]="section.slug" [label]="section.text" [files]="filesMap[section.slug]" [sections]="sections"
                            (sectionSelected)="handleSectionSelected(filesMap[section.slug], $event)">
                        </moo-management-files> 
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="sectionFiltersMap['no-section__SPECIAL']">
                    <moo-management-files [sectionSlug]="'no-section__SPECIAL'" label="None" [files]="filesMap['no-section__SPECIAL']" [sections]="sections"
                        (sectionSelected)="handleSectionSelected(filesMap['no-section__SPECIAL'], $event)">
                    </moo-management-files> 
                </ng-container>

                <ng-container *ngIf="filesMap && filesMap['delete__SPECIAL'] && filesMap['delete__SPECIAL'].length && sectionFiltersMap['delete__SPECIAL']">
                    <moo-management-files [sectionSlug]="'delete__SPECIAL'" label="Delete" [files]="filesMap['delete__SPECIAL']" [sections]="sections"
                        (sectionSelected)="handleSectionSelected(filesMap['delete__SPECIAL'], $event)">
                    </moo-management-files> 
                </ng-container>
            </ng-container>
        </moo-expandable>
    </div>

    <button *ngIf="expandSections || expandFiles" class="floating-fav-button" mat-fab color="primary" aria-label="Save updates" (click)="save()" [disabled]="saving">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
        </svg>
    </button>
</ng-container>
