// :host {
//     display: block;
    
//     height: 100%;
//     width: 100%;

//     overflow: hidden;
// }

input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label {
    cursor: pointer;

    padding: 24px;
    border: 1px solid blue;
    display: block;
}

input:focus + label,
input + label:hover {
    background-color: red;
}

label.on-drag {
    background: green;
}

input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
