@import 'styles/variables.scss';

@mixin host-styles($padding) {
    :host {
        padding-left: $padding;
        padding-right: $padding;
    }
}

:host {
    display: flex;
    flex-direction: column;

    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;

    width: 100%;
    height: auto;
    min-height: 100vh;
    min-height: var(--app-height-100);

    overflow-x: hidden;
}

@include host-styles(240px);

@media only screen and (max-width: $desktop_width) {
    @include host-styles(120px);
}

@media only screen and (max-width: $tablet_width) and (orientation: portrait) {
    @include host-styles(60px);
}

@media only screen and (max-width: $mobile_width) and (orientation: portrait) {
    @include host-styles(0);// padding is handled on the routing component instead of on app
}

@media only screen and (max-width: $landscape_width) and (max-height: $tablet_width) and (orientation: landscape) {
    @include host-styles(60px);
}

@media only screen and (max-width: $landscape_width) and (max-height: $mobile_width) and (orientation: landscape) {
    @include host-styles(0);// padding is handled on the routing component instead of on app
}
