@import 'styles/variables.scss';

@mixin host-styles($padding) {
    :host {
        padding-left: $padding;
        padding-right: $padding;
    }
}

:host {
    display: flex;
    flex-direction: column;

    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;

    width: 100%;
    height: auto;
    min-height: 100vh;
    min-height: var(--app-height-100);

    overflow-x: hidden;
}

@include host-styles(240px);

@media only screen and (max-width: $desktop_width) {
    @include host-styles(120px);
}

@media only screen and (max-width: $tablet_width) and (orientation: portrait) {
    @include host-styles(60px);
}

@media only screen and (max-width: $mobile_width) and (orientation: portrait) {
    @include host-styles(0);// padding is handled on the routing component instead of on app
}

@media only screen and (max-width: $landscape_width) and (max-height: $tablet_height) and (orientation: landscape) {
    @include host-styles(60px);
}

@media only screen and (max-width: $landscape_width) and (max-height: $mobile_height) and (orientation: landscape) {
    @include host-styles(0);// padding is handled on the routing component instead of on app
}

@keyframes loader-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(-360deg);}
}

mat-progress-bar.global {
    position: absolute;
    left: 0;
    top: 0;
    
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    animation-name: loader-animation;
    animation-duration: 400ms;

    pointer-events: none;
}
