<div class="header">
    ManDrawGora
</div>

<div class="sections">
    <div class="sections">
        Illustration
    </div>
    <div class="sections">
        Comics
    </div>
    <div class="sections">
        About
    </div>
</div>

<div class="main">
    <div class="images-wrapper">
        <div class="container">
            <div *ngFor="let fileMetadata of files" class="image responsive-width" mooKeepRatio [ratioHeight]="1" [ratioWidth]="1" [basedOnWidth]="true">
                <img class="cover-fit" [src]="fileMetadata.url">
            </div>
        </div>    
    </div>
    
    <div class="footer">
        ©&nbsp;2020&nbsp;Mario Diaz
    </div>
</div>
