@import 'styles/variables.scss';

:host {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.test {
    // background: blue;
    height: 100px;
    width: 300px;
    border: 1px solid red;
    box-sizing: border-box;
}

.icon {
    height: 32px;
    width: 32px;

    svg {
        fill: currentColor;
        height: 32px;
        width: 32px;
    }
}

.top-nav {
    min-height: 64px;
    width: 100%;

    margin-bottom: 32px;

    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    .top-nav-main {
        display: flex;
        align-items: center;

        .header {
            margin: 0;
        }
    
        .icon-container {
            padding: (64px - 32px) / 4;

            .icon {
                padding: (64px - 32px) / 4;
                border-radius: 50%;
            }
        }
    }

    .sections {
        padding: 0;
        margin: 0;

        overflow: hidden;

        .section {
            width: 100%;
            text-align: center;
            box-sizing: border-box;

            margin: 0;
            padding: 12px;

            color: white;

            border-top: 1px solid #212121;
        }

        transition: max-height 200ms cubic-bezier(0.35, 0, 0.25, 1);
    }
    .sections.hide {
        max-height: 0 !important;
    }

    display: none;
}

.header {
    position: relative;
    top: 0;
    left: 0;

    height: auto;
    width: 100%;

    font-size: 88px;
    line-height: 1;

    margin-top: 13vh;
    margin-bottom: 32px;
}

.birthday-hat {
    position: absolute;
    top: -54px;
    left: -65px;
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);

    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    border-radius: 50%;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    font-size: 24px;
    line-height: 1;

    margin-bottom: 32px;

    a {
        margin-left: 32px;
        color: white;
    }
    a:first-child {
        margin-left: 0;
    }

    .section {
        cursor: pointer;

        .section-text.hide {
            visibility: hidden;
        }
        .section-text.show {
            visibility: visible;

            animation: fade-in-from-top 400ms linear;
            animation: fade-in-from-top 400ms cubic-bezier(0.61, 0.01, 0.28, 1.26);
        }
    }
    .section.selected {
        text-decoration: underline;
    }
}

.mobile-selected-section {
    font-size: 20px;
    padding-bottom: 16px;

    animation: fade-in-from-top 400ms linear;
    animation: fade-in-from-top 400ms cubic-bezier(0.61, 0.01, 0.28, 1.26);

    display: none;
}

$imagePadding: 12px;

.images-wrapper {
    width: 100%;
    overflow: hidden;

    flex-grow: 2;

    margin-bottom: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;

    height: auto;
    width: auto;

    margin: -1 * $imagePadding / 2;
}

@keyframes home-image {
    from {opacity: 0;}
    to {opacity: 1;}
}

.image {
    position: relative;// Required for IE support (polyfill for cover-fit makes .cover-fit position absolute
    overflow: hidden;

    padding: $imagePadding/2;
    box-sizing: border-box;

    .image-wrapper {
        height: 100%;
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;

        animation-name: home-image;
        animation-duration: 400ms;

        border-radius: 4px;

        cursor: pointer;
        transition: filter 200ms linear;

        background: #121212;
        background: linear-gradient(45deg, #121212, transparent);
    }
    img:hover {
        filter: brightness(1.06) contrast(1.04);
    }
}

.main {
    display: flex;
    flex-direction: column;

    flex-grow: 2;
}

.footer {
    color: #616161;
    padding-bottom: 4px;
}

$imagePadding: 10px;

.under-construction {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .under-construction-inner {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 80vw;
        max-width: 300px;

        background: #121212;

        border-radius: 50%;
        font-size: 1.5em;
    }
}

.birthday-canvas {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    
    height: 100vh;
    height: var(--app-height-100);
    width: 100vw;

    pointer-events: none;
}

@mixin images-styles($rowCount) {
    .image {
        width: 100% / $rowCount;
    }
}

@include images-styles(4);

@mixin mobile-padding($padding) {
    .main {
        padding-left: $padding;
        padding-right: $padding;
    }
}

@mixin show-top-nav() {
    .desktop-top {
        display :none;
    }

    .top-nav {
        display: block;
    }

    .mobile-selected-section {
        display: block;
    }
}

@media only screen and (max-width: $desktop_width) {
    @include images-styles(4);
}

@media only screen and (max-width: $tablet_width) and (orientation: portrait) {
    @include images-styles(3);

    .header {
        font-size: 69px;

        .birthday-hat {
            top: -54px;
            left: -59px;
            width: 85px;
            height: 85px;
        }
    }

    .image {
        img:hover {
            filter: none;
        }
    }
}

@media only screen and (max-width: $mobile_width) and (orientation: portrait) {
    @include images-styles(1);
    
    .header {
        font-size: 32px;

        .birthday-hat {
            top: -16px;
            left: -19px;
            width: 27px;
            height: 27px;
        }
    }

    @include mobile-padding(2.5vw);

    @include show-top-nav();
    
    .image {
        img:hover {
            filter: none;
        }
    }
}

@media only screen and (max-width: $landscape_width) and (max-height: $tablet_height) and (orientation: landscape) {
    @include images-styles(3);

    .header {
        font-size: 69px;

        .birthday-hat {
            top: -54px;
            left: -59px;
            width: 85px;
            height: 85px;
        }
    }
    
    .image {
        img:hover {
            filter: none;
        }
    }
}

@media only screen and (max-width: $landscape_width) and (max-height: $mobile_height) and (orientation: landscape) {
    @include images-styles(2);

    .header {
        font-size: 32px;

        .birthday-hat {
            top: -16px;
            left: -19px;
            width: 27px;
            height: 27px;
        }
    }

    @include mobile-padding(2.5vw);

    @include show-top-nav();
    
    .image {
        img:hover {
            filter: none;
        }
    }
}
