@import 'styles/variables.scss';

.header {
    height: auto;
    width: 100%;

    font-size: 88px;
    line-height: 1;

    margin-top: 13vh;
    margin-bottom: 32px;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    font-size: 24px;
    line-height: 1;

    margin-bottom: 32px;

    div {
        margin-left: 32px;
    }
    div:first-child {
        margin-left: 0;
    }
}

$imagePadding: 12px;

.images-wrapper {
    width: 100%;
    overflow: hidden;

    flex-grow: 2;

    margin-bottom: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;

    height: auto;
    width: auto;

    margin: -1 * $imagePadding / 2;
}

.image {
    position: relative;
    overflow: hidden;

    padding: $imagePadding/2;
    box-sizing: border-box;

    img {
        height: 100%;
        width: 100%;
    }
}

$imagePadding: 10px;

@mixin images-styles($rowCount) {
    .image {
        width: 100% / $rowCount;
    }
}

@include images-styles(4);

@mixin mobile-padding($padding) {
    .main {
        padding-left: $padding;
        padding-right: $padding;
    }
}

@media only screen and (max-width: $desktop_width) {
    @include images-styles(4);
}

@media only screen and (max-width: $tablet_width) and (orientation: portrait) {
    @include images-styles(3);

    .header {
        font-size: 69px;
    }
}

@media only screen and (max-width: $mobile_width) and (orientation: portrait) {
    @include images-styles(1);
    
    .header {
        font-size: 32px;
    }

    @include mobile-padding(2.5vw);
}

@media only screen and (max-width: $landscape_width) and (max-height: $tablet_width) and (orientation: landscape) {
    @include images-styles(3);

    .header {
        font-size: 69px;
    }
}

@media only screen and (max-width: $landscape_width) and (max-height: $mobile_width) and (orientation: landscape) {
    @include images-styles(2);

    .header {
        font-size: 32px;
    }

    @include mobile-padding(2.5vw);
}
