<div class="top-nav">
    <a routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
        </svg>
        Home
    </a>

    <ng-container *ngIf="authService.user">
        <span>&nbsp;|&nbsp;</span>
        <a (click)="authService.signOut()">Logout</a>
    </ng-container>
</div>

<ng-container *ngIf="authService.user?.email !== 'm.thompson.code@gmail.com' && authService.user?.email !== 'mandrawgora@gmail.com'">
    <div class="input-container">
        <moo-input label="email" [value]="email" inputType="email" [error]="emailError" (valueChanged)="email = $event; emailError = ''">
        </moo-input>
    </div>

    <div class="input-container margin-bottom">
        <moo-input label="password" [value]="password" inputType="password" [error]="passwordError" (valueChanged)="password = $event; passwordError = ''">
        </moo-input>    
    </div>
    
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
        <button mat-raised-button color="accent" (click)="forgot()">Forgot</button>
    </div>
    
</ng-container>

<router-outlet *ngIf="authService.user?.email === 'm.thompson.code@gmail.com' || authService.user?.email === 'mandrawgora@gmail.com'"></router-outlet>
