@import 'styles/variables.scss';

:host {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.margin-bottom {
    margin-bottom: 32px;
}

@mixin mobile-padding($padding) {
    .main {
        padding-left: $padding;
        padding-right: $padding;
    }
}

@media only screen and (max-width: $desktop_width) {
    // pass
}

@media only screen and (max-width: $tablet_width) and (orientation: portrait) {
    // pass
}

@media only screen and (max-width: $mobile_width) and (orientation: portrait) {
    @include mobile-padding(2.5vw);
}

@media only screen and (max-width: $landscape_width) and (max-height: $tablet_width) and (orientation: landscape) {
    // pass
}

@media only screen and (max-width: $landscape_width) and (max-height: $mobile_width) and (orientation: landscape) {
    @include mobile-padding(2.5vw);
}
