<label for="file-input" [class]="'file-input-label' + (dragover ? ' on-drag' : '')" (dragover)="handleDragover($event)" (dragleave)="handleDragend($event)" (drop)="handleFileInputDrop($event)">Choose a file</label>
<input class="file-input" type="file" id="file-input" name="file-input" accept=".jpg, .jpeg, .png" multiple 
    (change)="handleFileInputChange($event)" (dragover)="handleDragover($event)" (dragleave)="handleDragend($event)" (drop)="handleFileInputDrop($event)">

<div>
    DRAGOVER: {{ dragover }}
</div>

<div *ngFor="let uploadFile of uploadFiles">
    <div>File name: {{ uploadFile.filename }}</div>
    <img [src]="uploadFile.src">
</div>

<div>
    Sections
</div>

<mat-label>New Section</mat-label>
<input matInput type="text" [value]="newSectionText" (input)="updateNewSectionText($event)">

<div class="new-section-form">
    <mat-form-field class="example-form-field">
        <mat-label>New Section</mat-label>
        <input matInput type="text" [value]="newSectionText" (input)="updateNewSectionText($event)">
      </mat-form-field>
</div>