@import 'styles/variables.scss';

button {
    margin-right: $spacing;
    margin-bottom: $spacing/2;
}

.top-nav {
    display: flex;
    align-items: center;

    padding: $spacing/4 0;
    margin-left: -8px;
    margin-bottom: $spacing;

    color: white;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: white;

        cursor: pointer;
    }
}
a:focus, a:hover, a:active {
    text-decoration: underline;
}

.input-container {
    margin-bottom: $spacing/4;
}


@mixin mobile-padding($padding) {
    .mobile-padding {
        padding-left: $padding;
        padding-right: $padding;

        box-sizing: border-box;
    }
}

@media only screen and (max-width: $desktop_width) {
    // pass
}

@media only screen and (max-width: $tablet_width) and (orientation: portrait) {
    // pass
}

@media only screen and (max-width: $mobile_width) and (orientation: portrait) {
    @include mobile-padding(2.5vw);
}

@media only screen and (max-width: $landscape_width) and (max-height: $tablet_height) and (orientation: landscape) {
    // pass
}

@media only screen and (max-width: $landscape_width) and (max-height: $mobile_height) and (orientation: landscape) {
    @include mobile-padding(2.5vw);
}
