@import 'styles/variables.scss';
button {
    margin-right: $spacing;
}

.top-nav {
    display: flex;
    align-items: center;

    padding: $spacing/4 0;
    margin-left: -8px;
    margin-bottom: $spacing;

    color: white;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: white;

        cursor: pointer;
    }
}
a:focus, a:hover, a:active {
    text-decoration: underline;
}

.input-container {
    margin-bottom: $spacing/4;
}
